/* Basic Page Setup */
  html {
    scroll-behavior: smooth;
    height: 100vh;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Border box because omg WHO invented content box it's actually so silly*/
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: #000c18;
    color: white;
    height: 100vh;
  }

  /* Google Fonts*/
  .unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
  }

  .jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #app {
    overflow-y: scroll;
    height: 92.5dvh;
    width: auto;
    position: relative;
  }

  .rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* Nav Stylings */
  nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly; /* left / right */
    align-items: top;           /* vertically center links */
    background: #001932;

    position: fixed;
    width: 100%;
    height: 7.5vh;
    bottom: 0%;
  }

  nav img {
    height: 75%;
    width: auto;
  }
  
  nav div {
    height: 7.5vh;
    /*border: 1px solid red;*/
  }

  #review {
    position: relative;
    top: -25%;
    border-radius: 100%;
    fill: white;
    background-color: white;
    width: 75px;
    height: 75px;
  }

  #review img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    translate: 0 15%;
    height: 75%;
    width: auto;
  }



/* Hero Div Stylings */
  div.hero {
    display: relative;
    width: 100%;
    height: 55vh;
    text-align: center;
    align-content: center;
  }

  div.hero h1 {
    color: white;
    text-shadow: #218380 1px 0 10px;
  }

  div.hero p {
    color: white;
    padding: 5% 10%;
  }

  div.hero img {
    position: absolute;
    width: 100%;
    height: 55vh;
    z-index: -1;
    object-fit: cover;
    left: 0px;
    top: 0px;

    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    mask-image: linear-gradient(to top, transparent 5%, black 100%);
  }

  .button {
    background-color: white;
    fill: white;
    font-family: 'Jersey 10';
    border: none;
    font-size: 1.25rem;
    padding: 2.5px 10px;
    box-shadow: #218380 1px 0 10px;
    color: black;
  }



/* OurCade Title Styling */

  @keyframes title-background {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
  }  

  h1.title{
    animation: title-background 3s linear infinite;
    background: linear-gradient(to right, #682183, #702183, #782183, #802183, #83217e, #832167, #83216e, #682183);
    font-style: normal;
    color: blueviolet;
    font-size: 4.5rem;
    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
  }

  h1.title#home {
    justify-content: center;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, 0px);
    position: absolute;
  }

  @keyframes title-span-background {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
  }

  h1.title > span {
    animation: title-span-background 3s linear infinite;
    background: linear-gradient(to right, #218368, #218370, #218378, #218380, #217e83, #217683, #216e83, #218368);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
  }

  div.title {
    background: #001932;
    width: 100%;
  }

  

  /* Homepage Stylings */

  div.shelf {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;

    background-color: #001932;
    width: 90vw;
    height: 175px;
    margin-left: 5vw;
    border-radius: 10px;
    box-shadow: 5px 10px black;
    justify-content: left;
    margin-bottom: 2.5vh;
  }

  div.shelf div {
  margin: 10px;
  }

  div.games {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
  }

  div.shelf h3 {
    position: relative;
    color: white;
    display: inline;
    top: -25%;
    font-size: 1.75rem;
    font-family: "Jersey 10", sans-serif;
  }

  img.shelf {
    height: 25px;
    width: auto;
    display: inline;
  }

  div.games > img {
    height: 95%;
    margin: 0px 10px;
    box-shadow: 5px 5px #4d3399;
  }

  div.blur {
    filter: blur(10px);
  }

  a.disclaimer {
    width: 100%;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    left: 0%;
    translate: 0px 10px;
  }

  div.recommended {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 90%;
    justify-content: center;
    align-content: center;
    padding: 10px;

    overflow: hidden;

    height: 30vh;

    margin-bottom: 25px;
    border-top: white dotted 2px;
    border-bottom: white dotted 2px;

    background-color: #001932;
    background-image: radial-gradient(circle, #3a6794 0.84px, transparent 0.84px);
    background-size: 10.5px 10.5px;
      box-shadow: 0 8px 6px -6px black;
  }

  .header {
    justify-content: center;
    text-align: center;
    display: inline;
    grid-column: span 2 / span 2;
    align-content: center;
    font-family: "Jersey 10", sans-serif;
  }

  .header h2 {
    position: relative;
    display: inline;
    top: -7.5px;
  }

  div.header img {
    height: 30px;
    width: auto;
  }

  .image {
    grid-row-start: 2;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  div.image img {
    height: 90%;
    width: auto;
    box-shadow: gold 1px 0 10px;
  }

  .content {
    grid-row-start: 2;
    text-align: center;
  }

  .content h3 {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .content p {
    padding: 10px;
    font-size: 0.75rem;
  }

  .content a {
    font-size: 1rem;
  }
  
  section:last-of-type {
    margin-bottom: 40px;
  }



/* Login Stylings */

  h1.login, h1#login, h2.login, h3.login {
    text-align: center;
  }

  h2.login {
    font-size: 4rem;
  }

  h3.login {
    font-size: 2rem;
  }

  img.login {
    display: flex;
    margin: auto;
    margin-top: 5vh;
    height: auto;
    width: 50%;
  }

  input#username, input#password {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 60vw;
  }

  form.login {
    text-align: center;
    justify-content: center;
  }

  .noUnderline {
    text-decoration: none;
  }


/* Dashboard Stylings*/

  div.activity {
    display: flex;
    color: white;
    height: 7.5vh;
    align-content: center;
    padding: 5px;
    width: 100vw;
  }

  div.activity p {
    display: inline;
    align-self: center;
  }

  div.activity:nth-child(even) {
    background-color: #001932;
  }

  img.pfp {
    border-radius: 100%;
    display: inline;
    height: 90%;
    align-self: center;
    border: white solid 3px;
    margin: 10px;
  }

  h1.activity {
    text-align: center;
    border-bottom: #001932 solid 3px;
  }

  .activity-wrapper {
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .fixed {
    position: absolute;
  }

  .user-review {
    font-size: small;
    font-style: italic;
  }

  #emerald {
    color: #13A338;
  }