/* Basic Page Setup */
  html {
    scroll-behavior: smooth;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Border box because omg WHO invented content box it's actually so silly*/
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: #000c18;
    color: white;
  }

  /* Google Fonts*/
  .unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
  }

  .jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



/* Nav Stylings */
  nav {
    display: flex;
    justify-content: space-evenly; /* left / right */
    align-items: center;           /* vertically center links */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 5px;

    position: absolute;
    width: 50%;
    height: 5%;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  nav img {
    width: 20%;
    height: auto;
  }



/* Hero Div Stylings */
  div.hero {
    display: relative;
    width: 100%;
    height: 55vh;
    text-align: center;
    align-content: center;
  }

  div.hero h1 {
    color: white;
    text-shadow: #218380 1px 0 10px;
  }

  div.hero p {
    color: white;
    padding: 5% 10%;
  }

  div.hero > img {
    position: absolute;
    width: 100%;
    height: 55vh;
    z-index: -1;
    object-fit: cover;
    left: 0px;
    top: 0px;

    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    mask-image: linear-gradient(to top, transparent 5%, black 100%);
  }



/* OurCade Title Styling */

  @keyframes title-background {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
  }  

  h1.title{
    animation: title-background 3s linear infinite;
    background: linear-gradient(to right, #682183, #702183, #782183, #802183, #83217e, #832167, #83216e, #682183);
    font-style: normal;
    position: absolute;
    color: blueviolet;
    font-size: 4.5rem;
    justify-content: center;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, 0px);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
  }

  @keyframes title-span-background {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
  }

  h1.title > span {
    animation: title-span-background 3s linear infinite;
    background: linear-gradient(to right, #218368, #218370, #218378, #218380, #217e83, #217683, #216e83, #218368);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
  }

  