html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: system-ui, sans-serif;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between; /* left / right */
  align-items: center;           /* vertically center links */
  padding: 1rem 2rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

div.hero {
  display: flexbox;
  width: 100%;
  height: 40vh;
  text-align: center;
  align-content: center;
  background-image: url(Media/1200px-2026_Season_2_Promo_01.png);
  background-size: cover;
}

div.hero h1 {
  color: white;
}

div.hero p {
  color: white;
  padding: 5% 10%;
}

.nav-left a,
.nav-right a {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}

.nav-left a:last-child,
.nav-right a:last-child {
  margin-right: 0; /* remove margin from last link in each group */
}

nav a:hover {
  text-decoration: underline;
}

.dotgothic {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #3b0092;
}

h1 {
  color: #00FFB0;
  font-family: "DotGothic16", sans-serif;
}

p {
  color: white;
}